.container-box {
    @apply dark:bg-night-light bg-white;
    @apply p-4 rounded;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}