@import url(element-plus/theme-chalk/dark/css-vars.css);

:root {
    --el-color-primary: #7457ff !important;
}

.el-collapse {
    border-bottom: none;
    border-top: none;
}

.el-tabs {
    border-radius: 8px;
    border: none !important;
    @apply dark:bg-night-lighter;

    .el-tabs__item {
        border: none !important;
    }

    .el-tabs__nav-scroll {
        @apply dark:bg-night-light overflow-hidden;
    }
}


.el-scrollbar__view {
    height: 100%;
}

.el-scrollbar__bar {
    z-index: 99 !important;
}

.el-tabs__item {
    font-size: 13px !important;
}

.el-message {
    z-index: 3100 !important;
}

.el-popper.el-popover {
    min-width: 80px !important;
}

.el-descriptions__cell {
    padding-bottom: 16px !important;
}

.el-descriptions__label {
    font-weight: 600;
    flex-shrink: 0;
}

.el-divider__text {
    @apply dark:bg-[#232323];
}