// 样式重置
@import url('@unocss/reset/tailwind.css');
// 字体：抖音美好体
@import url("@chinese-fonts/dymh/dist/DouyinSansBold/result.css");
// 组件库 Element Plus 样式
@import url(./element.less);
// 白板 Excalidraw 样式
@import url(./excalidraw.less);
@import url(./transition.less);
@import url(./scroll.less);
@import url(./color.less);

html {
  font-family: "Douyin Sans";
  font-weight: 500
}

#app {
  @apply w-screen h-screen tracking-wide overflow-hidden;
  @apply bg-gray-100 text-gray-800 dark:text-gray-100 dark:bg-night;
}

a:hover {
  @apply font-semibold;
}

input {
  outline: none;
  font-weight: 500 !important;
}

.container-box {
  border-radius: 8px;
  @apply dark:bg-night-lighter bg-white p-4;
}